<section>
    <a class="facebook" href="http://www.facebook.com/pages/Clan-Issime/334947416115" title="Seguí nuestras novedades por Facebook" target="_blank">Seguí nuestras novedades por Facebook</a>
    <h2>Corredores</h2>
    <p>Mandanos un mail con tus datos personales y un resumen de tu cartera de clientes a: <a href="mailto:ventasxmayor@clan-issime.com">ventasxmayor@clan-issime.com</a> o comunicate al <strong>+54 (221) 425-9342-int 30</strong> <br />
        No olvides contarnos las marcas que trabajás y la zona de tus recorridos.</p>
    <p>Ojalá juntos podamos llevar a Clan Issime más cerca de la gente </p>
</section>
