<section>
    
    <h2>Empresa</h2>

    <p>Clan Issime, significa un grupo que trabaja en sinergia. ¿Y qué quiere decir?  que somos un grupo de  personas super diferentes las unas de las otras  que logramos trabajar uniendo lo mejor de cada una.</p>

    <p>Nos inspira todo, absolutamente todo. Pero nos mantiene en el eje saber que nuestra creación debe ser indumentaria trendy, ponible, de buena calidad y a un buen precio.</p>

    <p>Nos divierte mantenernos actuales. Pero más nos gusta marcar tendencia.</p>
</section>
