<section>
    <h2>Locales en todo el país</h2>

    <div id="locales">

    <div>
    <h4>Buenos Aires</h4>
    <p><strong>Campana</strong> - 25 de Mayo 785<br />
        <strong>Carmen de Areco</strong> – Rivadavia 805<br />
        <strong>Coronel Suarez</strong> – Mitre 377<br />
        <strong>Dolores</strong> -  Buenos Aires 267<br />
        <strong>Ensenada</strong> - La Merced 165</p>

    <blockquote><h4>La Plata (locales exclusivos)</h4>
        <p><strong>La Plata</strong> - calle 49 e/ 8 y 9<br />
            <strong>La Plata</strong> - calle 8 n 910 (outlet)<br />
            <strong>City Bell</strong> - Cantilo y 6 (exclusivo)<br />
            <strong>City Bell</strong> - Cantilo esq 6 (outlet)</p></blockquote>

    <p><strong>Las Flores</strong> - Harosteguy y Av San Martin<br />
        <strong>Lobos</strong> - San Martin 42<br />
        <strong>Los Polvorines</strong> – 9 de julio 3140<br />
        <strong>Magdalena</strong> - San Martín 1205<br />
        <strong>Mar del Plata</strong> - Roca 1278<br />
        <strong>Mar del Plata</strong> - Avenida Jara 52<br />
        <strong>Monte grande</strong> - Alem 341<br />
        <strong>Pehuajó</strong> - Irigoyen 724<br />
        <strong>Saladillo</strong> - Av Rivadavia 2789<br />
        <strong>San Isidro</strong> - Laprida 2920<br />
        <strong>Sierra de la Ventana</strong> - Av San Martín Galería Curamaral Local 6<br />
        <strong>Tres Arroyos</strong> - Calle 1810 n 15<br />
        <strong>Tandil</strong> – Rodríguez 697<br />
        <strong>Vicente López</strong> – Roca 750</p>
    </div>


    <div>
    <h4>Capital Federal</h4>
    <p><strong>Villa Devoto</strong> - Nogoya 5559<br />
        <strong>Belgrano</strong> - José Hernández 2417<br />
        <strong>Palermo</strong> – Nicaragua 5949</p>

    <h4>Córdoba</h4>
    <p><strong>Jesus María</strong> - San Martín 502<br />
        <strong>Río Cuarto</strong> - Constitución 841<br />
        <strong>Nueva Córdoba</strong> – Buenos Aires 1095</p>

    <h4>Corrientes</h4>
    <p><strong>Corrientes</strong> – Pellegrini 665</p>

    <h4>Chaco</h4>
    <p><strong>Resistencia</strong></p>

    <h4>Chubut</h4>
    <p><strong>Comodoro Rivadavia</strong> - Manuel Pio Raso 557<br />
        <strong>Puerto Madryn</strong> – 25 de Mayo 253</p>

    <h4>La Pampa</h4>
    <p><strong>Santa Rosa</strong> - Gil 279</p>

    <h4>Mendoza</h4>
    <p><strong>San Martín</strong> - Avenida Salta 212</p>

    <h4>Misiones</h4>
    <p><strong>Posadas</strong> – Colón 1754</p>
    </div>

    <div>
    <h4>Neuquén</h4>
    <p><strong>Chosmalal</strong> - Paseo Raihue<br />
        <strong>Neuquén</strong> - Buenos Aires y Alberdi, local 14</p>

    <h4>Río Negro</h4>
    <p><strong>Viedma</strong> - Buenos Aires 479<br />
        <strong>San Antonio Oeste</strong> - D.F Sarmiento 163</p>

    <h4>San Luis</h4>
    <p><strong>San Luis</strong> - Colón 687</p>

    <h4>Santa Fé</h4>
    <p><strong>Reconquista</strong> - San Lorenzo 1018<br />
        <strong>Rosario</strong> – DISTRIBUDOR –DA VICINO LEONOR – Montevideo 611<br />
        <strong>Rosario</strong> – Córdoba 1358  local 6 (sólo calzado)<br />
        <strong>Cañada de Gómez</strong> – Mitre 399</p>

    <h4>Salta</h4>
    <p><strong>Orán</strong> - Egues 895</p>

    <h4>Santa Cruz</h4>
    <p><strong>28 de Noviembre</strong> - Entre Ríos 118</p>

    <h4>Tucumán</h4>
    <p><strong>JB Alberdi</strong> - Campero 281</p>
    </div>
    </div>


</section>
