<section>
    <h2>Unite a Clan</h2>

    <form action="/cgi-bin/formtomail.cgi" method="post">
        <input name="recipient" type="hidden" id="recipient" value="unite@clan-issime.com">
        <input name="redirect" type="hidden" id="redirect" value="http://www.clan-issime.com/confirma.html">
        <input name="subject" type="hidden" id="subject" value="Mensaje desde la página Unite a Clan">
        <table width="550" border="0" cellpadding="1" cellspacing="0">
            <tr>
                <td width="250" valign="top">Nombre y Apellido:</td>
                <td><input name="realname" type="text" class="campos-form" id="realname" required></td>
            </tr>
            <tr>
                <td valign="top">Lugar y fecha de nacimiento:</td>
                <td><input name="lugar y fecha de nac" type="text" class="campos-form" id="lugar y fecha de nac" required></td>
            </tr>
            <tr>
                <td valign="top">Tipo y N&ordm; de documento:</td>
                <td><input name="documento" type="text" class="campos-form" id="documento" required></td>
            </tr>
            <tr>
                <td valign="top">Estado civil</td>
                <td><input name="estado civil" type="text" class="campos-form" id="estado civil" required></td>
            </tr>
            <tr>
                <td valign="top">Nacionalidad</td>
                <td><input name="nacionalidad" type="text" class="campos-form" id="nacionalidad" required></td>
            </tr>
            <tr>
                <td valign="top">Direcci&oacute;n</td>
                <td><input name="direccion" type="text" class="campos-form" id="direccion" required></td>
            </tr>
            <tr>
                <td valign="top">Localidad</td>
                <td><input name="localidad" type="text" class="campos-form" id="localidad" required></td>
            </tr>
            <tr>
                <td valign="top">Tel&eacute;fono fijo:</td>
                <td><input name="tel fijo" type="text" class="campos-form" id="tel fijo"></td>
            </tr>
            <tr>
                <td valign="top">Tel&eacute;fono M&oacute;vil:</td>
                <td><input name="tel movil" type="text" class="campos-form" id="tel movil" required></td>
            </tr>
            <tr>
                <td valign="top">E-mail</td>
                <td><input name="email" type="text" class="campos-form" id="email" required></td>
            </tr>
            <tr>
                <td valign="top">Estudios</td>
                <td><input name="estudios" type="text" class="campos-form" id="estudios" required></td>
            </tr>
            <tr>
                <td valign="top">Idiomas </td>
                <td><input name="idiomas" type="text" class="campos-form" id="idiomas"></td>
            </tr>
            <tr>
                <td valign="top">Experiencia previa</td>
                <td><textarea name="experiencia previa" cols="30" rows="3" class="" id="experiencia previa" required></textarea></td>
            </tr>
            <tr>
                <td valign="top">Turno de preferencia</td>
                <td><select name="turno" class="campos-form" id="turno">
                        <option value="Ma&ntilde;ana" selected>Ma&ntilde;ana</option>
                        <option value="Tarde">Tarde</option>
                        <option value="Indistinto">Indistinto</option>
                    </select></td>
            </tr>
            <tr>
                <td valign="top">Por qu&eacute; te gustar&iacute;a trabajar en Clan?</td>
                <td><textarea name="por que te gustaria" cols="30" rows="3" class="" id="por que te gustaria"></textarea></td>
            </tr>
            <tr>
                <td valign="top">Hace cu&aacute;nto nos conoc&eacute;s?</td>
                <td><input name="hace cuanto nos conoces" type="text" class="campos-form" id="hace cuanto nos conoces"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" class="cuadros" value="Enviar"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </form>
</section>