<section>
    <h2>Ventas por mayor</h2>
    
    <p>Clan Issime provee a clientes por mayor de todo el país. </p>

    <p>Si estás interesado en comercializar nuestros productos, podés comunicarte con nuestra Sede central al +54 (221) 4259342 de lunes a viernes de 8:30 a 13:30 y de 14:00 a 17:00 hs.</p>

    <p>Los datos personales que nos aportes se incluirán en nuestros ficheros, con la finalidad de ser utilizados, única y exclusivamente para atender adecuadamente tus solicitudes de información.</p>


    <h4>Pedidos</h4>

    <p>Si ya sos cliente de venta por mayor, podés hacer tu pedido a través de los siguientes medios:<br>

        - por email a  <a href="mailto:ventasxmayor@clan-issime.com">ventasxmayor@clan-issime.com</a><br>

        - vía telefónoica al +54 221 4259342 int 30 o mandanos un mensaje de texto al 221 15 5663206<br>

        - vía página web. Sólo te registrás una vez, y con tu nombre y password hacés desde allí tu pedido que nos llega de forma automática


    </p>

    <h4>Empresas con las que trabajamos:</h4>
    <p>Alpha<br />
        Correo argentino<br />
        Chevallier<br />
        Empresa Argentina<br />
        Flecha Bus<br />
        Pinguino <br />
        Rabbiones<br />
        Via Bariloche</p>
</section>
